.wrapper{
    position: absolute;
    width: 300px;
    height: 180px;
    border-radius: 5px;
    background-color: whitesmoke;
    padding-left: 30px;
    right: 600px;
    top: 250px;
}
.deleteTitle{
    margin-top: 10px;
}
.buttonDiv{
    width: 270px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.deleteButton{
    width: 100px;
    height: 35px;
    background-color: red;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}
.cancelButton{
    width: 100px;
    height: 35px;
    background-color: #C0C0C0;
    color: grey;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #C0C0C0;
}


@media (max-width: 480px) {
    .wrapper{
        right:40px;
        top:250px
    }
    }